@media(max-device-width:1250px){

    .cards {
  
        width: 30%;
    }

}

@media(max-device-width:1150px){

    #figura{
        display: none;
    }

    .cards {
  
        width: 38%;
    }

    #presentacion .nombre-flex {
     
        top: 18%;

    }

    #presentacion .nombre-flex-2 {
     
        top: 26%;

    }
    .cards h4{
        display:block;
        font-size: 25px;
        margin: 0px;
    }

    #sobreMi {
        width: 70%;
    }

    #logo {
        top: 10%;
        left: 15%;
    }
}



@media(max-device-width: 800px){

    .imagenes {
        width: 60px;
        height: 60px;
    }

    
    #sobreMi {
       
        width: 95%;
    }
    

    #logo {
        font-size: 150px;
        left: 30%;
    

    }

    #presentacion div{
        display:flex;
        flex-flow:column wrap;
    }

    #acercaDeMi {

        width: 80%;
        margin-top:30%;

    }


    #formContacto div form{

        width:70% !important;
        justify-content: center !important;
    
    
    }

    #formContacto div form label{

        font-size: 25px;
    
    
    }

    section {
   
        margin-top: 0px !important; 
 
    }

    #formContacto div img{
        display:none;
    }

    .cards {
  
        width: 38%;
        height:auto;
        padding:5px;
        margin-left: 10px;
        margin-right:10px;

    }

    #cards-content {
  
        justify-content: center;
    }
    
    .ul {
        justify-content: center;
        margin-right: 0%;

        padding-left:0px;
    }

    .ul > li{
margin-left: 0px;
    }

    .ul > li > a{

        letter-spacing: 0px;
        font-size: 18px;
    }

    #presentacion .nombre-flex {

        right: 22%;
        top: 25%;
      
    }

    #presentacion .nombre-flex-2 {
        top: 32%;
        right: 23%;
    }
}


@media(max-device-width: 620px){

    #tecnologias h2 {
 
        font-size: 25px;

    }

    #acercaDeMi h2 {

        font-size: 25px;
        margin-top:10%;
    }

    .cards {
        width: 70%;
        padding: 20px;
        margin-bottom: 0px;
    }

    .cards > img {
        display: none;
    }

    #presentacion .nombres {

        font-size: 30px;
    }

    .ul > li > a {

        font-size: 14px;
  
    }

   h2{
       font-size: 20px;
   }


   #formContacto div form{

    width:80% !important;


}

.iframes {
    height: 830px;

}

#tecnologias-content {
 
    align-items: center;


}

strong{
    display:none;
}
#presentacion .nombre-flex {
     
    top: 28%;
    left: 26%;
    font-size: 20px;
}

#presentacion .nombre-flex-2 {
     
    top: 34%;
    left: 0%;
    font-size: 20px;
}

}

@media (max-device-width: 500px){
    #presentacion .nombre-flex {
        position:static;
        margin-top:65px;

    }


    #presentacion .nombre-flex-2 {
        position:static;
        margin-left: 0px;
  

    }


    #presentacion div {

        margin-bottom: -100px;
    }
}


