html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
    
}


#content{
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url('../assets/img/fondo.png');
    background-repeat: repeat;
    background-attachment: fixed;

}

#content-header{
    width: 100%;
    height: 380px;
    background:black;

}




header{
    width: 100%;
    height: 60px;
    background: black;
    color: white;
    overflow-x: hidden;
}

.scrollHeader{

    position:fixed;
    opacity: 1;
    transition:300ms;
    animation: scroll 400ms linear;

}


@keyframes scroll{

    0%{
 
        opacity: 0;
    }
    100%{
        opacity:1;

    }

}

.ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin:0px;
    margin-right: 5%;
    list-style: none;
}


.ul > li{

    padding: 10px;
    margin-top:10px;
    margin-left: 2%;
    transition: all 300ms;


}

.ul li > a{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    cursor:pointer;
    color:white;
    padding:5px;
    transition: all 300ms;
  
}

.ul  li:hover a{

    text-shadow: 0px 1px 10px white;
    box-shadow: 1px 0px 1px #ccc inset;

}


#curriculo{
    /*background: #568ae6;*/
    background: rgb(24 155 41);
    color:white;
    padding: 5px;
    border-radius:5px;
    cursor:pointer;
    transition: all 300ms;
}

#curriculo:hover{
    background: #1d58bd;
   
}

#figura img{

    display: block;
    width: 75%;
    height:100%;
    border-radius: 43px;

}

#logo{
    display: block;
    width: 12%;
    height: 200px;
    position: absolute;
    font-size: 1500%;
    top: 10%;
    left: 18%;
    cursor:pointer;
    animation: logo 2s linear infinite;
}

@keyframes logo{
    0%{
        text-shadow: 0px 0px 5px white;
}50%{
    text-shadow: 0px 0px 5px gray;
}100%{
    text-shadow: 0px 0px 5px white;
}
}


#presentacion{

    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    height:74%;
    text-shadow: 1px 0px 1px gray, 1px 0px 1px white;
    transition: 300ms;
    overflow-x: hidden;
  

}

#figura{

    width: 20%;
    height: 70%;
    border-radius: 50px;
   
}



@keyframes nombre {

    0%{
        opacity:0;
        right: 0%;
        overflow-x: hidden;
 
    }
    100%{

        right:10%;
        opacity: 1;
        text-shadow: 3px 0px 5px gray, 2px 0px 3px white;
    }
}

h1{

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    width:100%;
    background:black;
    color:white;
}

h3{
   
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    margin: 5px;
}
#presentacion h3{
    margin:0px;
    margin-left:100px;
    overflow: hidden;
    font-size:25px;
}

#presentacion .nombres{
    color:white;
    font-size:30px;
}
#presentacion .nombre-flex{

    display: flex;
    width: auto;
    flex-flow: column wrap;
    justify-content: center;
    flex-grow: initial;
    position: absolute;
    top:24%;
    right: 10%;
    animation: nombre 2s linear;
    overflow-x: hidden;
}

#presentacion .nombre-flex-2{

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex-grow: initial;
    position: absolute;
    right: 10%;
    top:33%;
    animation: nombre 2s linear;
    overflow-x: hidden;
}



/* content section*/

.section{
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content: center;
    margin-top: 40px;
}

.proyectos{
    
    align-items: left !important;
}

#tecnologias{
    width:100%;
}

#tecnologias-content{
    display:flex;
    flex-flow:row wrap;
    width:100%;
    justify-content: space-evenly;
}



#tecnologias h5{

    font-size:25px;
    font-weight: bold;
    margin-bottom:10px;
}

#tecnologias li{
    font-size: 20px;
    padding:5px;
}

.imagenes{

    width:90px;
    height: 80px;
    margin-left:20px;
    animation: logos 4s linear;


}


@keyframes logos{

    0%{
        opacity:0;
     
    }100%{
        opacity:1;
        
    }
}


#acercaDeMi{

    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    letter-spacing: 1px;
}

#sobreMi{
    display: flex;
    flex-flow: column wrap;
    width:40%;

}

#acercaDeMi div h1{

    color:black;
    font-size: 30px;
    background:none;


}

#acercaDeMi div p{

    font-size: 20px;
    text-align: justify;
}

#acercaDeMi div p:nth-child(2){

    
    margin-bottom:0px;
}


footer{
    
    align-self: flex-end;
    margin-top: 50px;
    color:white;
    text-align: center;
    background: black;
    width:100%;
    height:50px;
}



/* contacto*/


#formContacto{

    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    width: 100%;
    justify-content: space-around;
}

#formContacto div{
    display:flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items:center;
    justify-content: space-around;
    width: 100%;
}

#formContacto div form{
    display: flex;
    width: 35%;
    height:570px;
    background: rgba(108,99,255,0.5);

    margin: 0px auto;
    flex-flow:column wrap;
    padding: 20px;
    box-shadow: 0px 0px 4px black;
    border-radius: 10px;

}

h2{
    color:white;
    font-size: 30px;
    font-weight: bold;
}

label{
    color: black;
    font-weight:bold;
    font-size:16px;

}

#formContacto p{
    font-size: 20px;
    text-align: center;
    display: block;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}



input[type="text"],input[type="email"]{
 padding: 18px;
 border-radius:8px;
}

input[type="submit"] , button{
    padding: 8px;
    margin: 8px;
    background:rgb(19, 194, 42);
    color: white;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 300ms;
    border-radius:3px;

}



textarea{
    height: 180px;
}

input[type="submit"]:hover{
    
    background:rgb(17, 233, 46);

}



textarea{
 
    min-height: 100px;
    padding: 5px;
    border-radius: 5px;
}


#cards-content{
    display: flex;
    flex-flow: row wrap;
    flex-grow: initial;
}

.cards{
    display: flex;
    flex-flow: column wrap;
    width: 23%;
    height: auto;
    padding: 10px;
    margin:40px;
    border-radius:10px;
    cursor:pointer;
    transition: all 1s;
    text-align:center;
    box-shadow: 1px 0px 3px black, 0px 1px 3px gray;
}

.cards:hover{
    box-shadow: 1px 1px 5px black, 0px 1px 5px blue, 1px 0px 2px black;
}

.cards:hover{
    transform:scale(1.1);
}


.cards > img{
    width: 100%;
    height:180px;

}

.cards p{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: justify;
    transition: all 300ms;
}

.box{
    transition: all 1s;
    opacity: 0;
}

.animado{
    animation: ani 1s;
}

@keyframes ani{

    0%{
        transform: translateY(100px);
    }100%{
        transform: translateY(0);
    }
}

.iframes{
    width: 100%;
    height: auto;
    border: none;

}